<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>CognitevAutomationTask.CognitevAutomationTask.TestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PaymentMethodWithCreditCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HotelRoomDetailsConfirmation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Registration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BookHotelRoom</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HotelSelection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PaymentOnArrival</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HotelSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screenshotOnFailure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>screenshotOnSuccess</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
