<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:14:30</td>   <td>0</td> <td title="&gt;&gt;configuration.setup()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:15:23</td>   <td>53171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Registration()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">Registration</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:15:30</td>   <td>60477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:15:30</td>   <td>60477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:15:31</td>   <td>60916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.HotelSearch()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">HotelSearch</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:15:36</td>   <td>66732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:15:36</td>   <td>66733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:15:37</td>   <td>67285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.HotelSelection()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">HotelSelection</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:14</td>   <td>104614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:14</td>   <td>104614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:16:15</td>   <td>105602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.HotelRoomDetailsConfirmation()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">HotelRoomDetailsConfirmation</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:20</td>   <td>110549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:20</td>   <td>110549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:16:21</td>   <td>110964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.BookHotelRoom()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">BookHotelRoom</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:30</td>   <td>120195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:30</td>   <td>120195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:16:30</td>   <td>120612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.PaymentMethodWithCreditCard()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">PaymentMethodWithCreditCard</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:36</td>   <td>126442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:36</td>   <td>126442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/12/08 23:16:36</td>   <td>126816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.PaymentOnArrival()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">PaymentOnArrival</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:38</td>   <td>128510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnFailure(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnFailure</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:38</td>   <td>128510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;configuration.screenshotOnSuccess(org.testng.ITestResult)[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;screenshotOnSuccess</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/12/08 23:16:39</td>   <td>128900</td> <td title="&lt;&lt;configuration.quitBrowser()[pri:0, instance:CognitevAutomationTask.CognitevAutomationTask.TestCases@20e2cbe0]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
</table>
